<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/range-rover-bg.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Sürüş Güvenliğinizi Önemsiyoruz</h1>
                </div>
                <h2 class="presentation-subtitle text-center">Seyahatinizin Konforu İçin Araç Filomuza Göz Atın</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
        <app-car id="filo"></app-car>
    </div>
</div>